.browsehappy {

  background: #ccc;
  color: #000;

}

body {
  padding: 0;
}

.navbar{
  margin-bottom: 0px;
}

.container-fluid{
  padding: 0px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;

}

/* Custom page footer */
.footer {
  text-align: center;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}



/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



input.ng-invalid, select.ng-invalid {
  border: 1px solid mediumvioletred;
}

.blue{
  color: #1565C0;
}

li.active {
  color: indianred;
}

.background{
  height: 100vh;
  background-image: url("../images/background.jpeg");
  background-position: bottom;
  -webkit-background-size: cover;
  background-size: cover;
}

#login-form{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#booking-form{
  margin-top: 30px;
  margin-bottom: 30px;
}

