<div class="container">
                <form name="passengerForm" action="" class="col-sm-12" >
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="well">
                        <i class="fa fa-info-circle"></i> <b>Pickup time:</b> <br> <br>
                        <div>
                          <div class="row" ng-controller="DatepickerCtrl">
                            <div class="col-sm-6">
                              <p class="input-group">
                                <input required  ng-required="true" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                              </p>
                            </div>
                            <div class="col-sm-6">
                  <select class="form-control" ng-required="true" required ng-options="label for label in hours" ng-model="selectedHour" name="selectedHour"  style="float: left; width: calc(50% - 5px);">
                  <option>{{label}}</option>

                </select>
                <strong style="position:relative; top: 6px; left: 3px">:</strong>
                <select name="" ng-required="true" ng-options="item for item in minutes" required ng-model="selectedMinute" class="form-control" style="float: right; width: calc(50% - 5px)">
                  <option>{{item}}</option>
                </select>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-pushpin"></span>
          </div>
          <input type="text" id="pickup" class="form-control pac-input" name="address" ng-valid  ng-required="true" placeholder="Pickup address [ALT + P]" ng-model="pickupAddress">

          <div class="input-group-addon" ng-click="pickupAddress = '' " style="cursor: pointer">
            <span class="glyphicon glyphicon-remove"></span>
          </div>
        </div>

      </div>
      <br>
      <div class="row">
        <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Meeting point details"></textarea>
      </div>
      <br>
      <div class="row">
        <div class="btn-group">
          <label class="btn btn-primary" ng-click="" ng-model="checkModel.left" uib-btn-checkbox><i class="glyphicon glyphicon-plus"></i> VIA</label>
          <label class="btn btn-primary" ng-model="checkModel.right" uib-btn-checkbox><i class="fa fa-exchange" style="transform: rotate(90deg)"></i> Switch</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="fa fa-flag-checkered"></span>
          </div>
          <input type="text" id="dropoff" class="form-control" ng-required="true" required ng-model="dropoffAddress" name="dropoffAddress" placeholder="Dropoff address [ALT + D]">
          <div class="input-group-addon" ng-click="dropoffAddress = ' '" style="cursor: pointer;">
            <span class="glyphicon glyphicon-remove"></span>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <textarea class="form-control" name="" cols="30" rows="3" placeholder="Dropoff details"></textarea>
      </div>
      <br>
      <div class="row">
        <div id="test"></div>
        <i class="fa fa-users"></i> <b>Number of Passengers:</b>
        <select name="passengers" class="form-control" ng-change="changeCarType()" ng-model="passenger.number">
          <option value="{{passenger.number}}" ng-repeat="passenger in passengers">{{passenger.number}}</option>
        </select>
        <br>
      </div>
      <div class="row">
        <div class="vehicle-title">
          <i class="fa fa-car"></i> <b>Vehicle:</b>  <i class="fa fa-briefcase blue"></i>x{{sLuggage}} <i class="fa fa-suitcase blue"></i>x{{bLuggage}} <i class="fa fa-users blue"></i>x{{passengerPlaces}}
        </div>
      <select name="passengers.vehicle" class="form-control"  ng-change="changeCarType();" ng-model="passenger.vehicle" name="passengers.vehicle" id="passengers">
        <option value="{{vehicle.Name}}" ng-repeat="vehicle in vehicles">{{vehicle.Name}}</option>
      </select>
        <br>
      </div>
      <div class="row">
        <i class="fa fa-info-circle"></i> <b>Payment method:</b>

        <select name="passenger.payment" class="form-control" ng-change="changedPayment()" ng-disabled="passengerForm.$invalid"  ng-model="passenger.payment" id="paymentMethods">
          <option value="{{payment.name}}" ng-repeat="payment in payments">{{payment.name}}</option>
        </select>
        <br>
      </div>
      <div class="row">
        <i class="fa fa-money"></i> <b>Driver tip:</b>
        <input type="number" placeholder="0" ng-model="tips" class="form-control"  id="tips" ng-change="addDriverTips()">
        <br>
      </div>
      <br>
    </div>

    <div class="col-sm-6">
      <div id="map" style="height: 400px"></div>
      <br>
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </div>
        <input type="text" aria-describedby="basic-addon1" ng-model="passenger.name" ng-required="true" placeholder="Passenger full name" class="form-control" required>
      </div>
      <br>
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-envelope"></span>
        </div>
        <input type="email" class="form-control" name="email" ng-model="data.email" required minlength="5" required maxlength="100" email-address-valability-validator placeholder="Passenger email">
      </div>
      <br>
      <div class="row">
        <div class="input-group">
          <div class="input-group-addon" id="position-fix-addon">
            <span class="glyphicon glyphicon-phone"></span>
          </div>
          <div class="col-sm-6" ng-controller="PrefixesCtrl">
            <select name="passenger.prefix" ng-change="updatePrefixPhone()"  class="form-control" style="font-weight: 600;" required ng-model="passenger.prefix" >
              <option value="{{prefix.Code}}" ng-repeat="prefix in prefixes">{{prefix.ISO | uppercase}} +{{prefix.Code}}</option>
            </select>
          </div>
          <div class="col-sm-6">
            <input type="text" name="phonenumber" updatePrefixPhone() placeholder="Phone Number" class="form-control" required ng-model="passenger.phonenumber" ng-required="true">
          </div>
        </div>
      </div>
      <br>
      <textarea class="form-control" name="" id="" cols="30" rows="3" placeholder="Notes to company, address details or other information"></textarea>
      <br>
      <input type="text" placeholder="Redeem voucher" class="form-control">
      <hr>
      <h4>Distance: <span id="distance"></span></h4>
      <h4>Price: $<span id="price"></span></h4>

    </div>
    <button type="submit" value="submit" class="form-control btn btn-default" ng-disabled="passengerForm.$invalid"><i class="fa fa-floppy-o"></i> Confirm Booking</button>
    <br>

  </form>
</div>

