<div class="container">
  <form action="" class="col-md-6">
    <div class="row">
      <div class="well">
        <i class="fa fa-info-circle"></i> <b>Pickup time:</b> <br> <br>
        <div class="col-md-7">
          <input type="week" ng-model="string" class="form-control">
        </div>
        <div class="col-md-5">
          <select>
            <option value="1">1</option>

          </select>:
          <select name="" id="">
            <option value="1">1</option>
          </select>
        </div>
        <br><br>
      </div>
    </div>

    <div class="row">
      <input type="text" class="form-control">
    </div>
    <br>
    <div class="row">
      <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
    </div>
    <br>
    <div class="row">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="checkModel.left" uib-btn-checkbox><i class="glyphicon glyphicon-plus"></i> VIA</label>
        <label class="btn btn-primary" ng-model="checkModel.right" uib-btn-checkbox> Switch</label>
      </div>
    </div>
    <br>
    <div class="row">
      <input type="text" class="form-control">
    </div>
    <br>
    <div class="row">
      <textarea class="form-control" name="" id="" cols="30" rows="3"></textarea>
    </div>
    <br>
    <div class="row">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="checkModel.left" uib-btn-checkbox><i class="glyphicon glyphicon-plus"></i> VIA</label>
        <label class="btn btn-primary" ng-model="checkModel.right" uib-btn-checkbox> Switch</label>
      </div>
    </div>
    <br>
  </form>
</div>
