<br>
<div class="row">
<div class="input-group">
 <div class="input-group-addon">
    <span class="fa fa-bullseye"></span>
  </div>
  <input type="text" id="viaInput" ng-model="viaInput" class="form-control" placeholder="Stop on the way" ng-required="true" required  name="viaAddress" style="width: calc(100% + 1px)">
  <div class="input-group-addon"  ng-click="viaInput = ''" style="background-color: #0e90d2; color: white; cursor: pointer">
    <span class="glyphicon glyphicon-remove"></span>
  </div>
  <div class="input-group-addon" ng-click="removeTemplate(v);" style="cursor: pointer;">
    <span class="glyphicon glyphicon-trash"></span>
  </div>
</div>
<textarea style="margin-top: 5px" name="" id="" cols="30" rows="1" class="form-control" placeholder="Details (e.g. House/Flat no, Building name, etc)"></textarea>
</div>
